.MainAbout{
    background-color: #566573;
    width: 60%;
    margin: auto;
    h1{
        text-align: center;
        color: whitesmoke;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    img{
        display: block;
        margin: auto;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        margin-bottom: 2em;
    }

    .TextContainer{
        width: 80%;
        text-align: center;
        margin: auto;
        padding-bottom: 1em;
        color: whitesmoke;
        p{
            padding-bottom: 1em;
        }
        a{
            color: yellowgreen;
            text-decoration: none;
        }
    }
}